.collider {
  position: absolute;
  background-color: deeppink;
}

.text {
  z-index: 1;
}

.background {
  z-index: 0;
}

.shape {
  fill: rgb(51, 86, 175);
}
.ground {
  position: absolute;
  top: 300px;
  left: 0;
  width: 600px;
  height: 20px;
  background-color: red;
}
